.expense-filter{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    color: whitesmoke;
    font-family: inherit;
    font-weight: bold;
}
.expense-filter select{
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 8px;
}
.expense-filter select :focus{
    outline: none;
    border: none;
}